<div class="container card scalein animation-duration-1000">
  <h2>CENTRO DE COSTOS</h2>
  <p-table class="table__content shadow-6 m-3 surface-card" #dtc [value]="centrocosto" dataKey="id" [rows]="10" id="season-tble"
    [showCurrentPageReport]="true" [rowsPerPageOptions]="[2, 5, 10, 25, 50]" [paginator]="true"
    currentPageReportTemplate="Datos {first} a {last} de {totalRecords} registros" [globalFilterFields]="[
   'idCentroCosto',
   'codCentroCosto',
   'nombreCentroCosto',
   'descCentroCosto',
   'estadoCentroCosto',
   'fechaCentroCosto',
   'idUsuarioCentroCosto'
      ]" [tableStyle]="{ 'min-width': '75rem' }">
    <ng-template pTemplate="caption">
      <div class="flex justify-content-between">
        <span class="p-input-icon-left mb-2 md:mb-0">
          <i class="pi pi-search"></i>
          <input pInputText type="search" (input)="dtc.filterGlobal(getEventValue($event),'contains')"
            placeholder="Buscar" />
        </span>
        <button pButton pRipple label="Agregar" icon="pi pi-plus" class="p-button-success mr-2"
          style="margin-left: 50px;" data-bs-toggle="modal" data-bs-target="#exampleModal"></button>
          <button pButton pRipple label="Exportar" icon="pi pi-upload" class="p-button-help" (click)="exportToExcel()" style="margin-left: 20px;"></button>
     
        </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Codigo
          <p-columnFilter type="text" field="codCentroCosto" display="menu"></p-columnFilter>
        </th>
        <th>Nombre
          <p-columnFilter type="text" field="nombreCentroCosto" display="menu"></p-columnFilter>
        </th>
        <th>Descripcion
          <p-columnFilter type="text" field="descCentroCosto" display="menu"></p-columnFilter>
        </th>
        <th>Estado
          <p-columnFilter type="text" field="estadoCentroCosto" display="menu"></p-columnFilter>
        </th>
        <th>Fecha
          <p-columnFilter type="text" field="fechaCentroCosto" display="menu"></p-columnFilter>
        </th>
        <th>ID Usuario
          <p-columnFilter type="text" field="idUsuarioCentroCosto" display="menu"></p-columnFilter>
        </th>
        <th>Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-centrocosto let-rowIndex="rowIndex">

      <tr>
        <td>{{ centrocosto.idCentroCosto }}</td>
        <td>{{ centrocosto.codCentroCosto }}</td>
        <td>{{ centrocosto.nombreCentroCosto }}</td>
        <td>{{ centrocosto.descCentroCosto }}</td>
        <td>{{ centrocosto.estadoCentroCosto }}</td>
        <td>{{ centrocosto.fechaCentroCosto | date:'short' }}</td>
        <td>{{ centrocosto.idUsuarioCentroCosto }}</td>
        <td><button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
            style="background-color: rgb(196, 8, 8);" (click)="eliminarCentroCosto(centrocosto.idCentroCosto)"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5">No se han encontrado resultados</td>
      </tr>
    </ng-template>
  </p-table>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Datos Centro Costo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="CentrocostoForm.reset()"></button>
      </div>
      <div class="modal-body">
        <form action="#" [formGroup]="CentrocostoForm" (ngSubmit)=" agregarCentroCosto(); CentrocostoForm.reset()">
          <div class="user-details">
            <div class="input-box">
              <span class="details">codCentroCosto</span>
              <input type="text" formControlName="codCentroCosto" name="codCentroCosto" placeholder="Cod Centro Costo"
                required>
              <div class="text-danger"
                *ngIf="CentrocostoForm.get('codCentroCosto')?.hasError('required') && CentrocostoForm.get('codCentroCosto')?.touched">
                <span>Este campo es <strong>obligatorio</strong></span>
              </div>
            </div>
            <div class="input-box">
              <span class="details">Nombre</span>
              <input type="text" formControlName="nombreCentroCosto" name="nombreCentroCosto"
                placeholder="nombre Centro Costo" required>
              <div class="text-danger"
                *ngIf="CentrocostoForm.get('nombreCentroCosto')?.hasError('required') && CentrocostoForm.get('nombreCentroCosto')?.touched">
                <span>Este campo es <strong>obligatorio</strong></span>
              </div>
            </div>
            <div class="input-box">
              <span class="details">Descripción:</span>
              <input type="text" formControlName="descCentroCosto" name="descCentroCosto" placeholder="Descripción"
                required>
              <div class="text-danger"
                *ngIf="CentrocostoForm.get('descCentroCosto')?.hasError('required') && CentrocostoForm.get('descCentroCosto')?.touched">
                <span>Este campo es <strong>obligatorio</strong></span>
              </div>
            </div>
            <div class="input-box">
              <span class="details">Estado</span>
              <input type="text" formControlName="estadoCentroCosto" name=" estadoCentroCosto" placeholder="Estado"
                required>
              <div class="text-danger"
                *ngIf="CentrocostoForm.get('estadoCentroCosto')?.hasError('required') && CentrocostoForm.get('estadoCentroCosto')?.touched">
                <span>Este campo es <strong>obligatorio</strong></span>
              </div>
            </div>
            <div class="input-box">
              <span class="details">Fecha</span>
              <input type="date" formControlName="fechaCentroCosto" name="fechaCentroCosto"
                placeholder="Fecha" required>
              <div class="text-danger"
                *ngIf="CentrocostoForm.get('fechaCentroCosto')?.hasError('required') && CentrocostoForm.get('fechaCentroCosto')?.touched">
                <span>Este campo es <strong>obligatorio</strong></span>
              </div>
            </div>
            <div class="input-box">
              <span class="details">idUsuarioCentroCosto</span>
              <input type="number" formControlName="idUsuarioCentroCosto" name="idUsuarioCentroCosto"
                placeholder="idUsuarioCentroCosto" required>
              <div class="text-danger"
                *ngIf="CentrocostoForm.get('idUsuarioCentroCosto')?.hasError('required') && CentrocostoForm.get('idUsuarioCentroCosto')?.touched">
                <span>Este campo es <strong>obligatorio</strong></span>
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                (click)="CentrocostoForm.reset()">Cerrar</button>
                <p-toast></p-toast>
              <button style="margin-left: 9px; background-color: rgb(33, 162, 7);" type="submit"
                class="btn btn-secondary" (click)="show()"[disabled]="CentrocostoForm.invalid">Guardar</button>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
