<div class="container card scalein animation-duration-1000">
  <h2>Registro de Usuarios</h2>
  <p-table class="table__content shadow-9 m-3 surface-card" #dt [value]="listadousuario" dataKey="id" [rows]="10" id="season-tble"
    [showCurrentPageReport]="true"  [paginator]="true" responsiveLayout="scroll"
    currentPageReportTemplate="Datos {first} a {last} de {totalRecords} registros"
    [rowHover]="true"
    [globalFilterFields]="['id','nombre','apellido','cedula','departamento']"
    >

    <ng-template pTemplate="caption">
      <div class="flex justify-content-between">
        <span class="p-input-icon-left mb-2 md:mb-0">
          <i class="pi pi-search"></i>
          <input pInputText type="search" (input)="dt.filterGlobal(getEventValue($event),'contains')"
            placeholder="Buscar" />
        </span>
        <button pButton pRipple label="Agregar" icon="pi pi-plus" class="p-button-success mr-2"  style="margin-left: 50px;" data-bs-toggle="modal" data-bs-target="#exampleModal"></button>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th>ID<p-columnFilter type="text" field="id" display="menu"></p-columnFilter></th>
        <th>Nombre<p-columnFilter type="text" field="nombre" display="menu"></p-columnFilter>
        <th>Apellido<p-columnFilter type="text" field="apellido" display="menu"></p-columnFilter></th>
        <th>Cedula<p-columnFilter type="text" field="cedula" display="menu"></p-columnFilter></th>
        <th>Acciones</th>

      </tr>
      <!-- <tr>
              <th><p-columnFilter type="text" field="nombreTarjeta"></p-columnFilter></th>
              <th><p-columnFilter type="text" field="descTarjeta"></p-columnFilter></th>
              <th><p-columnFilter type="text" field="stateTarjeta"></p-columnFilter></th>
              <th><p-columnFilter type="text" field="dateTarjeta"></p-columnFilter></th>
              <th><p-columnFilter type="text" field="idUsurTarjeta"></p-columnFilter></th>
          </tr> -->
    </ng-template>


    <ng-template pTemplate="body" let-usuario>
      <tr class="tablas">
        <td>{{ usuario.id}}</td>
        <td>{{ usuario.nombre }}</td>
        <td>{{ usuario.apellido }}</td>
        <td>{{ usuario.cedula }}</td>
        <td><button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning m-2"
          style="background-color: rgb(196, 8, 8);"
          (click)="eliminarUsuario(usuario.id)"></button>
            <button pButton pRipple icon="pi pi-pencil"   class="p-button-rounded p-button-warning m-2"
            style="background-color: rgb(33, 162, 7);" (click)="editusuario(usuario)"  data-bs-toggle="modal" data-bs-target="#exampleModal2"></button>
          </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        En total hay {{listadousuario ? listadousuario.length : 0 }} entradas.
      </div>
    </ng-template>
  </p-table>
</div>
<!-- <section class="footer-section">
<div class="center-div">
  <p class="font-weight-bold">Copyright 2023</p>
</div>
</section> -->

<!-- 
<div class="container card scalein animation-duration-1000">
<h2>REGISTROS</h2>
<p-table class="table__content shadow-6 m-3 surface-card" #dt [value]="consumidor" dataKey="id" [rows]="4"
[showCurrentPageReport]="true" [rowsPerPageOptions]="[2, 5, 10, 25, 50]" [paginator]="true"
currentPageReportTemplate="Datos {first} a {last} de {totalRecords} registros"
    [globalFilterFields]="['idtarjeta','nombreTarjeta','descTarjeta','stateTarjeta','dateTarjeta','idUsurTarjeta']"
[tableStyle]="{ 'min-width': '75rem' }">

<ng-template pTemplate="header">
  <tr>
    <th>ID</th>
    <th>Nombre</th>
    <th>Descripción
      <p-columnFilter type="text" field="descTconsumidor" display="menu"></p-columnFilter>
    </th>
    <th>Estado
      <p-columnFilter type="text" field="estadoTconsumidor" display="menu"></p-columnFilter>
    </th>
    <th>Fecha
      <p-columnFilter type="text" field="fechaTconsumidor" display="menu"></p-columnFilter>
    </th>
    <th>ID Usuario</th>
  </tr>
</ng-template>
<ng-template pTemplate="body" let-consumidor let-rowIndex="rowIndex">

  <tr>
    <td>{{ consumidor.idTipoConsumidor }}
    </td>
    <td>{{ consumidor.nombreTconsumidor }}</td>
    <td>{{ consumidor.descTconsumidor }}</td>
    <td>{{ consumidor.estadoTconsumidor }}</td>
    <td>{{ consumidor.fechaTconsumidor }}</td>
    <td>{{ consumidor.idUsuarioTconsumidor }}</td>
  </tr>
</ng-template>
<ng-template pTemplate="emptymessage">
  <tr>
    <td colspan="5">No se han encontrado resultados</td>
  </tr>
</ng-template>
</p-table>
</div> -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Datos Usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="UsuarioForm.reset()"></button>
      </div>
      <div class="modal-body">
        <form action="#" [formGroup]="UsuarioForm" (ngSubmit)="agregarUsuario(); UsuarioForm.reset()">
          <div class="user-details">
            <div class="input-box">
              <span class="details">Nombre</span>
              <input type="text" formControlName="nombre" name="nombre" placeholder="nombre usuario"
                required>
              <div class="text-danger"
                *ngIf="UsuarioForm.get('nombre')?.hasError('required') && UsuarioForm.get('nombre')?.touched">
                <span>Este campo es <strong>obligatorio</strong></span>
              </div>
            </div>
            <div class="input-box">
              <span class="details">Apellido:</span>
              <input type="text" formControlName="apellido" name="apellido" placeholder="Apellido Usuario" required>
              <div class="text-danger"
                *ngIf="UsuarioForm.get('apellido')?.hasError('required') && UsuarioForm.get('apellido')?.touched">
                <span>Este campo es <strong>obligatorio</strong></span>
              </div>
            </div>
            <div class="input-box">
              <span class="details">Cedula:</span>
              <input type="text" formControlName="cedula" name="cedula" placeholder="Cedula Usuario" required>
              <div class="text-danger"
                *ngIf="UsuarioForm.get('cedula')?.hasError('required') && UsuarioForm.get('cedula')?.touched">
                <span>Este campo es <strong>obligatorio</strong></span>
              </div>
            </div>
            <div class="input-box">
              <span class="details">Departamento</span>
              <input type="text" formControlName="departamento" name="departamento" placeholder="Departamento" required>
              <div class="text-danger"
                *ngIf="UsuarioForm.get('departamento')?.hasError('required') && UsuarioForm.get('departamento')?.touched">
                <span>Este campo es <strong>obligatorio</strong></span>
              </div>
            </div>
        
            <div class="mb-3">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="UsuarioForm.reset()">Cerrar</button>
              <p-toast></p-toast>
              <button style="margin-left: 9px; background-color: rgb(33, 162, 7);" type="submit"
                class="btn btn-secondary" data-bs-dismiss="modal" (click)="show()" [disabled]="UsuarioForm.invalid" >Guardar</button>
              
            </div>
          </div>
        </form>
</div>
</div>
</div>
</div>


 <!--  modal 2 -->
 <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Actualizar</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action="#" id="miForm"  (ngSubmit)="updateUsuario()" [formGroup]="UsuarioForm">
          <div class="user-details">
            <div class="input-box">
              <span class="details">Nombre</span>
              <input type="text" value="{{selectUsuario.nombre}}" id="nombre" formControlName="nombre" name="nombre"
                placeholder="nombre del usuario" required>
            
            </div>
            <div class="input-box">
              <span class="details">Apellido</span>
              <input type="text" value="{{selectUsuario.apellido}}" id="apellido" formControlName="apellido" name="apellido"
                placeholder="Descripción tipo concepto" required>
            
            </div>
            <div class="input-box">
              <span class="details">cedula</span>
              <input type="text" value="{{selectUsuario.cedula}}" id="cedula" formControlName="cedula" name="cedula"
                placeholder="Descripción tipo concepto" required>

            </div>
            <div class="input-box">
              <span class="details">departamento</span>
              <input type="text" value="{{selectUsuario.departamento}}" id="departamento" formControlName="departamento" name="departamento"
                placeholder="Descripción tipo concepto" required>
            </div>
            <div class="mb-3">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
              >Cerrar</button>
            <p-toast></p-toast>
        
              <button style="margin-left: 9px; background-color: rgb(33, 162, 7);" type="submit"
                class="btn btn-secondary" data-bs-dismiss="modal" (click)="show()">Actualizar</button>
            </div>
          </div>
        </form>
        
      </div>
    </div>
  </div>
</div>
        



