
<div class="container card scalein animation-duration-1000">
  <h2>Registro de Usuarios</h2>
  <p-table class="table__content shadow-9 m-3 surface-card" #dt [value]="listadousuario" dataKey="id" [rows]="10" id="season-tble"
    [showCurrentPageReport]="true"  [paginator]="true" responsiveLayout="scroll"
    currentPageReportTemplate="Datos {first} a {last} de {totalRecords} registros"
    [rowHover]="true"
    [globalFilterFields]="['id_usuarios','nombres','apellidos','correo','identificacion','celular']"
    >

    <ng-template pTemplate="caption">
      <div class="flex justify-content-between">
        <span class="p-input-icon-left mb-2 md:mb-0">
          <i class="pi pi-search"></i>
          <input pInputText type="search" (input)="dt.filterGlobal(getEventValue($event),'contains')"
            placeholder="Buscar" />
        </span>
        <button pButton pRipple label="Agregar" icon="pi pi-plus" class="p-button-success mr-2"  style="margin-left: 50px;" data-bs-toggle="modal" data-bs-target="#exampleModal"></button>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Correo</th>
        <th>Identificacion</th>
        <th>Rol</th>
        <th>Estado</th>
        <th>Acciones</th>

      </tr>
      <!-- <tr>
              <th><p-columnFilter type="text" field="nombreTarjeta"></p-columnFilter></th>
              <th><p-columnFilter type="text" field="descTarjeta"></p-columnFilter></th>
              <th><p-columnFilter type="text" field="stateTarjeta"></p-columnFilter></th>
              <th><p-columnFilter type="text" field="dateTarjeta"></p-columnFilter></th>
              <th><p-columnFilter type="text" field="idUsurTarjeta"></p-columnFilter></th>
          </tr> -->
    </ng-template>


    <ng-template pTemplate="body" let-usuario>
      <tr class="tablas">
        <td>{{ usuario.id_usuarios}}</td>
        <td>{{ usuario.nombres }}</td>
        <td>{{ usuario.apellidos }}</td>
        <td>{{ usuario.correo }}</td>
        <td>{{ usuario.identificacion }}</td>
        <td>{{ usuario.rol.nombre}}</td>
        <td>{{ usuario.estado.nombre_estado}}</td>
        <td><button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning m-2"
          style="background-color: rgb(196, 8, 8);"
          (click)="eliminarUsuario(usuario.id_usuarios)"></button>
            <button pButton pRipple icon="pi pi-pencil"   class="p-button-rounded p-button-warning m-2"
            style="background-color: rgb(33, 162, 7);" (click)="editusuario(usuario)"  data-bs-toggle="modal" data-bs-target="#exampleModal2"></button>
          </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        En total hay {{listadousuario ? listadousuario.length : 0 }} entradas.
      </div>
    </ng-template>
  </p-table>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Crear Usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="UsuarioForm.reset()"></button>
      </div>
      <div class="modal-body">
        <form action="#" [formGroup]="UsuarioForm" (ngSubmit)="agregarUsuario(); UsuarioForm.reset()">
          <div class="user-details">
            <div class="input-box">
              <span class="details">Nombre</span>
              <input type="text" (input)="onInputletras($event)" maxlength="18"  formControlName="nombres" name="nombres" placeholder="nombre usuario"
                required>
              <div class="text-danger"
                *ngIf="UsuarioForm.get('nombres')?.hasError('required') && UsuarioForm.get('nombres')?.touched">
                <span>Este campo es <strong>obligatorio</strong></span>
              </div>
            </div>
            <div class="input-box">
              <span class="details">Apellido:</span>
              <input type="text" (input)="onInputletras($event)" maxlength="18"  formControlName="apellidos" name="apellidos" placeholder="Apellido Usuario" required>
              <div class="text-danger"
                *ngIf="UsuarioForm.get('apellidos')?.hasError('required') && UsuarioForm.get('apellidos')?.touched">
                <span>Este campo es <strong>obligatorio</strong></span>
              </div>
            </div>
          
            <div class="input-box">
              <span class="details">Identificacion:</span>
              <input type="text" (input)="onInput($event)" maxlength="13"  keyfilter="int" formControlName="identificacion" name="identificacion" placeholder="ced/ruc" required>
              <div class="text-danger"
                *ngIf="UsuarioForm.get('identificacion')?.hasError('required') && UsuarioForm.get('identificacion')?.touched">
                <span>Este campo es <strong>obligatorio</strong></span>
              </div>
            </div>
              <div class="input-box">
              <span class="details">Nr celular:</span>
              <input type="text" (input)="onInput($event)"  maxlength="10"  keyfilter="int"  formControlName="celular" name="celular" placeholder="nr. celular" required>
              <div class="text-danger"
                *ngIf="UsuarioForm.get('celular')?.hasError('required') && UsuarioForm.get('celular')?.touched">
                <span>Este campo es <strong>obligatorio</strong></span>
              </div>
            </div>
            <div class="input-box">
              <span class="details">Correo:</span>
              <input type="text" formControlName="correo" name="correo" placeholder="correo" required>
              <div class="text-danger"
                *ngIf="UsuarioForm.get('correo')?.hasError('required') && UsuarioForm.get('correo')?.touched">
                <span>Este campo es <strong>obligatorio</strong></span>
              </div>
              <div class="text-danger" *ngIf="UsuarioForm.get('correo')?.hasError('email')">
                El correo electrónico no tiene un formato válido.
              </div>
            </div>
            <div class="input-box">
              <span class="details">clave:</span>
              <input type="text" formControlName="clave" name="clave" placeholder="clave" required>
              <div class="text-danger"
                *ngIf="UsuarioForm.get('clave')?.hasError('required') && UsuarioForm.get('clave')?.touched">
                <span>Este campo es <strong>obligatorio</strong></span>
              </div>
            </div>
            <div class="input-box">
              <span class="details">Estado</span>
              <p-dropdown [options]="listadoestado"
              formControlName="id_estado"
              name="id_estado"
              [virtualScroll]="true"
              optionLabel="nombre_estado"
              optionValue="id_estados"
              id="id_estado"
              [virtualScrollItemSize]="38"  
              placeholder="*Tipo de Estado"
              [filter]="true"
              [filterBy]="'nombre_estado'"
              >
              
            </p-dropdown>
            </div>
            <div class="input-box">
              <span class="details">Roles</span>
              <p-dropdown [options]="listadoroles"
              formControlName="id_roles"
              name="id_roles"
              [virtualScroll]="true"
              optionLabel="nombre"
              optionValue="id_roles"
              id="id_roles"
              [virtualScrollItemSize]="38"  
              placeholder="*Tipo de Roles"
              [filter]="true"
              [filterBy]="'nombre'"
              >
              
            </p-dropdown>
            </div>
          
        
        
            <div class="mb-3">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="UsuarioForm.reset()">Cerrar</button>
              <p-toast></p-toast>
              <button style="margin-left: 9px; background-color: rgb(33, 162, 7);" type="submit"
                class="btn btn-secondary" data-bs-dismiss="modal" [disabled]="UsuarioForm.invalid" >Guardar</button>
              
            </div>
          </div>
        </form>
</div>
</div>
</div>
</div>


 <!--  modal 2 -->
 <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Actualizar</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action="#" id="miForm"  (ngSubmit)="updateUsuario()" [formGroup]="UsuarioForm">
          <div class="user-details">
            <div class="input-box">
              <span class="details">Nombre</span>
              <input type="text" value="{{selectUsuario.nombres}}" id="nombres" formControlName="nombres" name="nombres"
                placeholder="nombre" required>
            
            </div>
            <div class="input-box">
              <span class="details">Apellido</span>
              <input type="text" value="{{selectUsuario.apellidos}}" id="apellidos" formControlName="apellidos" name="apellidos"
                placeholder="apellido" required>
            
            </div>
            <div class="input-box">
              <span class="details">identificacion</span>
              <input type="text" value="{{selectUsuario.identificacion}}" id="identificacion" formControlName="identificacion" name="identificacion"
                placeholder="identificacion" required>
            </div>
            <div class="input-box">
              <span class="details">celular</span>
              <input type="text" value="{{selectUsuario.celular}}" id="celular" formControlName="celular" name="celular"
                placeholder="celular" required>
            </div>
            <div class="input-box">
              <span class="details">correo:</span>
              <input type="text" value="{{selectUsuario.correo}}" id="correo" formControlName="correo" name="correo"
                placeholder="correo" required>

            </div>
            <div class="input-box">
              <span class="details">Clave:</span>
              <input type="text" value="{{selectUsuario.clave}}" id="clave" formControlName="clave" name="clave"
                placeholder="clave" required>

            </div>
            <div class="input-box">
              <span class="details">Estado:</span>
              <input type="text" value="{{selectUsuario.id_estado}}"  label="nombre_estado" id="id_estado" formControlName="id_estado" name="id_estado"
                placeholder="clave" required>
<!--    <p-dropdown 
              formControlName="id_estado"
              name="id_estado"
              
              [virtualScroll]="true"
              optionLabel="nombre_estado"
              optionValue="id_estados"
              id="id_estado"
              [virtualScrollItemSize]="38"  
              placeholder="*Tipo de Estado"
              [filter]="true"
              [filterBy]="'nombre_estado'"
              >
              
            </p-dropdown> -->
            </div>
            
            <div class="mb-3">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
              >Cerrar</button>
            <p-toast></p-toast>
        
              <button style="margin-left: 9px; background-color: rgb(33, 162, 7);" type="submit"
                class="btn btn-secondary" data-bs-dismiss="modal" >Actualizar</button>
            </div>
          </div>
        </form>
        
      </div>
    </div>
  </div>
</div>
        



