<head>
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
  <div class="sidebar">
    <div class="logo__content">
      <div class="logo">
        <img style="width: 40px;" src="" alt="">
        <div class="logo__name">
          Administracion
        </div>
      </div>
      <i class='bx bx-menu' id="btn"></i>
    </div>
    <ul class="nav__list">
      <li>
        <a routerLink="/tarjeta" data-bs-toggle="tooltip" data-bs-placement="right" title="Usuario">
          <i class="bx bxs-user"></i>
          <span class="links__name">Usuario</span>
        </a>

      </li>
      <li>
        <a routerLink="/mensajes" data-bs-toggle="tooltip" data-bs-placement="right" title="mensahe">
          <i class='bx bxs-credit-card-alt'></i>
          <span class="links__name">Mensaje</span>
        </a>

      </li>


    </ul>
    <div class="profile__content">
      <div class="profile">
        <div class="profile__details">
          <img
          src="../../../assets/logo.png"
            alt="">
        </div>
        <i class='bx bx-log-out' id="log__out"></i>
      </div>
    </div>
  </div>
</body>